<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Revel_Tool_Management.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Revel_Tool_Management.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Revel_Tool_Management.My.MySettings>
      <setting name="SystemDB" serializeAs="String">
        <value>system.db3</value>
      </setting>
    </Revel_Tool_Management.My.MySettings>
  </applicationSettings>
  <userSettings>
    <Revel_Tool_Management.My.MySettings>
      <setting name="database_location" serializeAs="String">
        <value />
      </setting>
      <setting name="database_name" serializeAs="String">
        <value />
      </setting>
      <setting name="user_id" serializeAs="String">
        <value />
      </setting>
      <setting name="license1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="license2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="license3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="license4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="license5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dgv_color" serializeAs="String">
        <value>#ffd700</value>
      </setting>
      <setting name="cut_stock_day" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="email_to" serializeAs="String">
        <value>revelsoft@outlook.com</value>
      </setting>
      <setting name="email_from" serializeAs="String">
        <value>support@revelsoft.co.th</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>465</value>
      </setting>
      <setting name="email_user" serializeAs="String">
        <value>support@revelsoft.co.th</value>
      </setting>
      <setting name="email_pass" serializeAs="String">
        <value>revelsoft1234@</value>
      </setting>
      <setting name="smtp" serializeAs="String">
        <value>mail.revelsoft.co.th</value>
      </setting>
      <setting name="subject" serializeAs="String">
        <value>New order form store.</value>
      </setting>
      <setting name="body" serializeAs="String">
        <value>You have new order from store. you can see order detail in attach file.</value>
      </setting>
      <setting name="license6" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="license7" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="license8" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="license9" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="license10" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="license11" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="license12" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="license13" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="license14" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="license15" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="license16" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="login_name" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="working_day" serializeAs="String">
        <value>26</value>
      </setting>
      <setting name="userid" serializeAs="String">
        <value />
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="userpic" serializeAs="String">
        <value />
      </setting>
      <setting name="usertype" serializeAs="String">
        <value />
      </setting>
      <setting name="first_login" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="percent_safety" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="monthly_day" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="cut_stock_hour" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="cut_stock_min" serializeAs="String">
        <value>0</value>
      </setting>
    </Revel_Tool_Management.My.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.110.0" newVersion="1.0.110.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      
      
    <remove invariant="System.Data.SQLite.EF6" /><add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" /><remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>